* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent-navbar-container {
    background: #F0F0F0 !important;
}
#parent-navbar-container .custom-navbar-btn-style {
    background: #0084bf !important;
    color: #f1f1f1;
}
#parent-navbar-container .custom-navbar-btn-style:hover {
    background: #006097 !important;
}
.customer-navbar-container li {
    margin-left: 2rem;
}
.customer-navbar-container .custom-navbar-style-container {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    flex-direction: row !important;
}
.custom-form-style {
    margin-right: 30px;
}
.custom-label-style label {
    padding: 10px;
    margin: 10px;
    font-size: 12px;
}
.custom-link-container {
    margin-left: 20px;
}
.logo-size {
    width: 70px;
    border-radius: 80px;
    margin-right: 10px;
}
#navbar-container ul li a {
    text-decoration: none;
    color: #111;
    padding: 5px;
    margin: 5px;
}
